<div class="row" style="padding: 10px;">
    <div class="column" style="background-color:  #005CA9">
        <img src="/mimo-header_projekt_960x292.jpeg" alt="" style="height: 180px; width: fit-content">
    </div>
    <div class="column" style="background-color: none">
        <h4><b>Our Graph</b></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
    </div>
</div>
<div class="row" style="padding: 10px;">
    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
    dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
    dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
    dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
</div>
<div class="row">
<div class="container" style="background-color: none; padding: 10px">
    <h4><b>Sources & Data</b></h4>
</div>
<div class="row">
    <div class="column" style="background-color: #F5F5F5">
        <h4><a href="/">MiMoTextBot</a></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <button type="button">Learn more</button>
    </div>
    <div class="column" style="background-color: none">
        <h4><a href="/">RDF Dump</a></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
        <button type="button">Learn more</button>
    </div>
    <div class="column" style="background-color: none">
        <h4><a href="https://github.com/{{ include.username }}">GitHub</a></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui
            ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
            <button type="button">Learn more</button>
    </div>
    <div class="column" style="background-color: #F5F5F5">
        <h4><a href="/">etc.</a></h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui
            ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
            <button type="button">Learn more</button>
    </div>
</div>